.homepageContainer {
  padding: 1rem;
  gap: 1rem;
  height: calc(100dvh - var(--topNavbarHeight));
  width: 100%;
  overflow-y: auto;
  position: relative;

  .tabsWrapper {
    position: sticky;
    top: 0;
    z-index: 1;
    padding-top: 0.5rem;
    width: 100%;
  }

  .contentWrapper {
    height: 100%;
    overflow-y: auto;
    gap: 1rem;
    border: 1px solid var(--grayBorderColor);
    padding: 0 0rem 0 0;
  }
}

@media all and (min-width: 768px) {
  .homepageContainer {
    padding: 1rem 2rem;
  }
}

@media all and (min-width: 992px) {
  .homepageContainer {
    padding: 0rem 4rem;
  }
}
