.taskListContainer {
  width: 100%;
  border: 1px solid var(--gray2);
  padding: 1rem;
  border-radius: 0.25rem;
  gap: 1rem;
  position: relative;

  svg {
    position: absolute;
    top: 0.25rem;
    right: 0.25rem;
    cursor: pointer;
  }

  header {
    gap: 0.25rem;

    .title {
      font-size: 1rem;
      font-family: var(--bold);
      color: var(--black1);
      margin: 0;
    }

    .description {
      font-size: 1rem;
      font-family: var(--regular);
      color: var(--black1);
      margin: 0;
    }

    .dueDate {
      font-size: 0.875rem;
      font-family: var(--light);
      color: var(--gray1);
      white-space: pre;
      margin: 0;
    }
  }

  .btnGroup {
    gap: 0.5rem;
  }
}

.reminderActive {
  border-left: 4px solid var(--primaryColor);

  svg {
    path {
      fill: var(--primaryColor);
      stroke: var(--primaryColor);
    }
  }
}

.reminderInactive {
  svg {
    path {
      fill: var(--gray1);
      stroke: var(--gray1);
    }
  }
}
